[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/Vicle"]
	path = bundle/Vicle
	url = git://github.com/vim-scripts/Vicle.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/session_dialog"]
	path = bundle/session_dialog
	url = git://github.com/vim-scripts/session_dialog.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
